body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('/R\ \(1\).jpg') center/cover no-repeat;
    
}

.container {
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    
}

input {
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 10px;
}

#loginForm {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.smiley {
    font-size: 90px; /* Adjust the size of the smiley face */
    margin-top: 30px;
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
